:root {
    --bg-dark: #0D1321;
    --bg-card: #1D2D44;
    --muted-blue: #3E5C76;
    --light-blue: #748CAB;
    --accent-pink: #FFDAE9;
    --text-light: #F4F6F9;
    --header-size: 5rem;
    --header-phone-size:8rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    border-bottom: 1px solid var(--muted-blue);
    position: fixed;
    top: 0;
    height: var(--header-size);
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    transform: translateY(0px); 
    background-color: var(--bg-dark);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-pink);
}

nav a {
    color: var(--light-blue);
    text-decoration: none;
    margin-left: 2rem;
    transition: color 0.3s;
}

nav a:hover, nav a.active {
    color: var(--accent-pink); 
}

footer {
    background-color: var(--bg-dark);
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 1rem;
        text-align: center;
        height: var(--header-phone-size);
    }

    nav a {
        margin-left: 0;
        margin: 0 0.5rem;
        display: inline-block;
    }
}